<!-- Recipes -->
<div class="two">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about">
          <!-- <div class="mt-5 text-left">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
          </div> -->
          <img class="mt-5" src="assets/profile_photo.jpg" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="noun text-left">
          <h2>Recipe :</h2>
          <h3></h3>
          <p></p>
          <p></p>
          <hr />
          <div class="icon">
            <!-- <button type="button" class="btn btn-danger">my services</button>
                <button type="button" class="btn btn-danger">my services</button>
                <button type="button" class="btn btn-danger">my services</button>
                <button type="button" class="btn btn-danger">my services</button>
                <button type="button" class="btn btn-danger">my services</button> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mt-5 skills">
          <h2>Instructions</h2>
          <ol type="1">
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
